{
    "presets": [
        ["@babel/preset-env", { "useBuiltIns": "usage" }],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "env": {
        "production": {
            "plugins": [
                [
                    "babel-plugin-emotion",
                    {
                        "sourceMap": false
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                [
                    "babel-plugin-emotion",
                    {
                        "sourceMap": true,
                        "autoLabel": true
                    }
                ]
            ]
        }
    }
}
